body {
    background-image: url("https://external-preview.redd.it/6Oy_a_O7XzjVXIQ1lZBZhGgFGf0Dl3DQpBfPni4RTEk.jpg?auto=webp&s=c31b0b6a5a24e64a4bb504447a5879392c2a429c");
    color: black;
}
header {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhVjIOI6nGNj2Ks8BAhvp7cMA6C0md18PSrQ&s");
}
h1 {
    color: black;
}
h2 {
    color: black;
}